.bg-image {
    background-size: cover;
    background-color: #9e9e9e;
    background-blend-mode: luminosity;
    background-image: url("/images/bg-image.jpg");
    background-size: cover;
}

@media screen and (max-width:768px) {
    .bg-image {
        min-height: 300px;
    }
}

@media screen and (max-width:400px) {
    .bg-image {
        min-height: 200px;
    }
}

body {
    max-height: 100vh;
    /* overflow: auto; */
}

.text-light-blue {
    color: #02b0e2;
}

.border-blue-light {
    border-color: #02b0e2;
}

.bg-blue-light {
    background-color: #02b0e2;
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    /* --bg-opacity: 1; */
    background-color: #02b0e2;
    /* background-color: rgba(237, 242, 247, var(--bg-opacity)); */
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}

.text-student {
    color: #02b0e2;
}

.text-lecturer {
    color: blue;
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    /* --bg-opacity: 1; */
    background-color: #02b0e2;
    /* background-color: rgba(237, 242, 247, var(--bg-opacity)); */
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}

.student-account {
    width: 40px;
    height: 40px;
    border: #02b0e2;
    border-style: dotted;
    background-size: contain;
    background-image: url('/images/student-account.gif');
}

.text-lime-green {
    color: limegreen;
}

.lecturer-account {
    width: 40px;
    height: 40px;
    border: blue;
    border-style: dotted;
    background-size: contain;
    background-image: url('/images/lecturer-account.gif');
}

.w-fit {
    width: fit-content;
}

.bg-inherit {
    background-color: inherit !important;
}

.btn-primary {
    opacity: 1.0;
    transition: 0.3s;
    color: #fff;
    background-color: #02b0e2;
}

.btn-primary:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

/* dialog[open] {
    animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
  } */
dialog::backdrop {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5)) !important;
    backdrop-filter: blur(3px) !important;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}