.bg-image{
    background-size: cover;
    background-color: #9e9e9e;
    background-blend-mode: luminosity;
    background-image: url("/images/bg-image.jpg");
}

body {
    max-height: 100vh;
    /* overflow: auto; */
}

.bg-light-blue {
    color: #02b0e2
}